@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Roboto&display=swap');

.para-back-1{
    color: red;
    font-weight: bold;
}

.para-back-2{
    color: blue;
    font-style: italic;
}

.back-img-1{
    border: 5px solid yellow;
}

/* Layout */
.grid-wrapper {
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.header,
.game-nav,
.main,
.footer {
    grid-column-start: 2;
}

.header {
    display: flex;
    align-items: center;
}

.header a {
    display: block;
    padding-right: 1rem;
}

.game-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.game-nav ul li {
    padding-right: 1rem;
}

/* Styles */
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comforter', cursive;
    font-size: 1.5em;
}

.header strong {
    font-family: 'Comforter', cursive;
    font-size: 52px;
}