@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Roboto&display=swap');

.para-back-1{
    color: red;
    font-weight: bold;
}

.para-back-2{
    color: blue;
    font-style: italic;
}

.back-img-1{
    border: 5px solid yellow;
}

/* Logo */
.logo {
    display: block;
    padding-right: 1rem;
    text-decoration: none;
    color: black;
}

.logo img {
    padding-right: .5rem;
}

.logo strong {
    font-family: 'Comforter', cursive;
    font-size: 52px;
    vertical-align: -13px;
}

/* Styles */
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comforter', cursive;
    margin-top: 1em;
}