{{> header}}
<main class="container">
  <div class="row">
    <section class="col-12 col-lg-6">
      <h1>Spielanleitungen</h1>
      <p>Wir wollen Spieleanleitungen für die absoluten Klassiker der
        Gesellschaftsspiele und Kartenspiele schreiben.</p>

      <table class="table">
        <thead>
          <tr>
            <th>Spiel</th>
            <th>Spieler:innenanzahl</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>TicTacToe</td>
            <td>2</td>
            <th><a href="/games/tictactoe">Zur Spieleanleitung</a></th>
          </tr>
          <tr>
            <td>Schere Stein Papier</td>
            <td>2</td>
            <th><a href="/games/scheresteinpapier">Zur Spieleanleitung</a></th>
          </tr>
          <tr>
            <td>Kniffel</td>
            <td>2-∞</td>
            <th><a href="/games/kniffel">Zur Spieleanleitung</a></th>
          </tr>
          <tr>
            <td>Backgammon</td>
            <td>2</td>
            <th><a href="/games/backgammon">Zur Spieleanleitung</a></th>
          </tr>
          <tr>
            <td>Romme</td>
            <td>2-6</td>
            <th><a href="/games/romme">Zur Spieleanleitung</a></th>
          </tr>
        </tbody>
      </table>
      {{> mostVisitedSites}}
    </section>
    <section class="col-12 col-lg-6">
      <h2>Spielevorschläge</h2>
      <p>Habt ihr noch weitere Ideen für Spieleanleitungen?</p>
      <form action="">
        <div class="mb-3">
          <label for="username" class="form-label">Name</label>
          <input name="username" id="username" type="text" class="form-control" placeholder="name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-Mail</label>
          <input name="email" id="email" type="email" class="form-control">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Vorschlag</label>
          <textarea name="message" id="message" rows="10" class="form-control"></textarea>
        </div>
      </form>
    </section>
  </div>
</main>
{{> footer}}
