
      <form method="POST" action="/comments">
        <br/>
        <label for="Kommentar">
          <textarea
            placeholder="Kommentar"
            name="commentText"
            id="commentText"
            cols="30"
            rows="10"
          ></textarea>
        </label>
        <br />
        <label for="Submit">
          <button  name="Submit" id="Submit" type="submit">Submit</button>
        </label>
  </form>