<script type="text/javascript" src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<section>
    <h2 id="Kommentare">Kommentare</h2>
      <form method="POST" action="/comments">
        <label for="Username">
          <input
            id="Username"
            name="Username"
            type="text"
            placeholder="Username"
          />
        </label>
        <br/>
        <label for="Kommentar">
          <textarea
            placeholder="Kommentar"
            name="Kommentar"
            id="CommentTextField"
            cols="30"
            rows="10"
          ></textarea>
        </label>
        <br />
        <label for="Submit">
          <button  name="Submit" id="Submit" type="submit">Submit</button>
        </label>
      </form>
  </section>
<section id="Comments">
    {{#comments}}
        {{> comment}}
    {{/comments}}
</section>
