<script type="text/javascript" src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script>
    let comments = [];

    function addComment(){
        let commentText = document.getElementById("CommentTextField").textContent
        let userID = "HIER USER ID AUS COOKIE LESEN"
        let userName = "HIER USERNAME AUS COOKIE LESEN"
        let site = "Seite die vom Comment betroffen ist speichern"
        this.comments.push({commentText, userID, userName, site})
        console.log(this.comments)
    }
    function commentBuilder(comment){
        let frag = document.createDocumentFragment()
    }
    function displayComments(){
        this.comments.forEach(this.commentBuilder(comment))
    }
</script>
<section>
    <h2 id="Kommentare">Kommentare</h2>
      <form method="POST" action="/comments">
        <label for="Username">
          <input
            id="Username"
            name="Username"
            type="text"
            placeholder="Username"
          />
        </label>
        <br/>
        <label for="Kommentar">
          <textarea
            placeholder="Kommentar"
            name="Kommentar"
            id="CommentTextField"
            cols="30"
            rows="10"
          ></textarea>
        </label>
        <br />
        <label for="Submit">
          <button  name="Submit" id="Submit" type="submit">Submit</button>
        </label>
      </form>
  </section>
<section id="Comments">
    <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="card text-dark">
                    <div class="card-body p-4">
                        <h4 class="mb-0">Recent comments</h4>
                        <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>

                        <div class="d-flex flex-start">
                            <img
                                    class="rounded-circle shadow-1-strong me-3"
                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp"
                                    alt="avatar"
                                    width="60"
                                    height="60"
                            />
                            <div>
                                <h6 class="fw-bold mb-1">Maggie Marsh</h6>
                                <div class="d-flex align-items-center mb-3">
                                    <p class="mb-0">
                                        March 07, 2021
                                    </p>
                                    <a href="#!" class="link-muted"
                                    ><i class="fas fa-pencil-alt ms-2"></i
                                    ></a>
                                    <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                                    <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                                </div>
                                <p class="mb-0">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s, when an unknown printer took a galley of type and
                                    scrambled it.
                                </p>
                            </div>
                        </div>
                    </div>

                    <hr class="my-0" />

                </div>
            </div>
        </div>
    </div>
</section>
