
                    <div class="d-flex flex-start">
                        <p id="hiddenID" style="display:none">{{commentID}}<p>
                        <img
                                class="rounded-circle shadow-1-strong me-3"
                                src="https://as1.ftcdn.net/v2/jpg/02/59/39/46/1000_F_259394679_GGA8JJAEkukYJL9XXFH2JoC3nMguBPNH.jpg"
                                alt="avatar"
                                width="60"
                                height="60"
                        />
                        <div>
                            {{#isMyComment}}
                                <h6 style="color:green" class="fw-bold mb-1">Du --> {{userName}}</h6>
                            {{/isMyComment}}
                            {{^isMyComment}}
                                <h6 class="fw-bold mb-1">{{userName}}</h6>
                            {{/isMyComment}}
                            <div class="d-flex align-items-center mb-3">
                                <p class="mb-0">
                                    {{date}}
                                </p>
                                {{#liked}}
                                    <a href="/like?id={{commentID}}" class="link-muted"><i class="fas fa-heart ms-2 liked"></i></a>
                                {{/liked}}
                                {{^liked}}
                                    <a href="/like?id={{commentID}}" class="link-muted"><i class="fas fa-heart ms-2 notliked"></i></a>
                                {{/liked}}
                            </div>
                            <p class="mb-0">
                                {{commentText}}
                            </p>
                        </div>
                    </div>

