<script type="text/javascript" src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<h2 id="Kommentare">Kommentare</h2>
<section>
  {{#userName}}
    {{> commentForm}}
  {{/userName}}
  {{^userName}}
    {{> commentFormError}}
  {{/userName}}
</section>
<section id="Comments">
  <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-lg-10">
              <div class="card text-dark">
                  <div class="card-body p-4">
                    {{#comments}}
                      {{> comment}}
                    {{/comments}}                 
                  </div>
                  <hr class="my-0" />
              </div>
          </div>
      </div>
  </div>  
</section>
