
{{#isFavorite}}
    <a href="/favorites" class="link-muted"><i class="fas fa-heart ms-2 liked"></i></a>
{{/isFavorite}}
{{^isFavorite}}
    <a href="/favorites" class="link-muted"><i class="fas fa-heart ms-2 notliked"></i></a>
{{/isFavorite}}