            <ul class="nav">
              <li class="nav-item"><a class="nav-link" href="/games/backgammon">Backgammon</a></li>
              <li class="nav-item"><a class="nav-link" href="/games/kniffel">Kniffel</a></li>
              <li class="nav-item"><a class="nav-link" href="/games/romme">Rommé</a></li>
              <li class="nav-item"><a class="nav-link" href="/games/scheresteinpapier">Schere Stein Papier</a></li>
              <li class="nav-item"><a class="nav-link" href="/games/tictactoe">Tic Tac Toe</a></li>
            </ul>