      <footer class="footer">
        <nav>
          <p align="center">
            <a href="#top"> Back to Top </a>
          </p>
          <p align="center">
            <a href="/">zurück zur Startseite</a>
          </p>
          <p align="center">
            <a href="/impressum">Impressum</a>
          </p>
        </nav>
      </footer>
    </div> <!-- .grid-wrapper -->
  </body>
</html>