<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jana Deppe">
    <title>Home - Spieleprofis!</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/main.css'>
  </head>
  <body>
    <div id="top" class="grid-wrapper"> <!-- .grid-wrapper -->
      <header class="header">
        <a href="/" class="logo">
          <img src="https://pngimg.com/uploads/dice/dice_PNG25.png" alt=""
            width="50">
          <strong>{{pageTitle}}</strong>
        </a>
        <nav class="game-nav">
          <ul>
            <li><a href="/games/backgammon">Backgammon</a></li>
            <li><a href="/games/kniffel">Kniffel</a></li>
            <li><a href="/games/romme">Rommé</a></li>
            <li><a href="/games/scheresteinpapier">Schere Stein Papier</a></li>
            <li><a href="/games/tictactoe">Tic Tac Toe</a></li>
          </ul>
        </nav>
      </header>